---
pageTitle: O meni
otherLanguageUrl: /en/
layout: layouts/hr.njk
prefetch: /portfolio
stylesheet: css/home.css
---
<div class="hero-grid">
    <article class="hero desktop">
        {% image "images/pencil.jpeg", "photo of my pencil", "(max-width: 760px) 50vw, 100vw", "hero__image" %}
    </article>
    <article class="hero hero--dark desktop">
        <h1>
            Grafički dizajn & ilustracije
        </h1>
        <h2>
            Marija Miletić
        </h2>
        <p class="mb-xl">
            Iskusna grafička dizajnerica s bogatim iskustvom rada u području grafičkog dizajna.
            Nudi širok spektar grafičkih usluga, uključujući dizajn logotipa, osmišljavanje vizualnog identiteta, ilustracije, vizualno uređivanje pisanih materijala kao što su knjige, brošure, plakati i drugo.
        </p>
        {% button "Pogledajte moj rad", "/portfolio" %}
    </article>
    <article class="hero mobile">
        <div class="image__wrapper">
            {% image "images/pencil-vertical.jpeg", "photo of my pencil", "(max-width: 767px) 120px, (max-width: 991px) 120px, 10vw", "hero__image" %}
        </div>
        <div class="hero__overlay">
            <h1 class="hero__h1">
                Grafički dizajn & ilustracije
            </h1>
            {% button "Pogledajte moj rad", "/portfolio", "button--negative mt-m" %}
        </div>           
    </article>
    <article id="bio" class="mobile">
        <h1>
            O meni
        </h1>
        <h2>
            Marija Miletić
        </h2>
        <p>
            Iskusna grafička dizajnerica s bogatim iskustvom rada u području grafičkog dizajna.
            Nudi širok spektar grafičkih usluga, uključujući dizajn logotipa, osmišljavanje vizualnog identiteta, ilustracije, vizualno uređivanje pisanih materijala kao što su knjige, brošure, plakati i drugo.
        </p>
    </article>
</div>