---
pageTitle: Kontakt
otherLanguageUrl: /en/contact/
layout: layouts/hr.njk
stylesheet: css/contact.css
prefetch: /portfolio
mobileNavHref: /portfolio
mobileNavText: Moji radovi
---
<div class="hero-grid">
    <article class="hero tablet">
        {% image "images/pencil-horizontal.jpeg", "photo of my pencil", "(max-width: 760px) 50vw, 100vw", "hero__image" %}
    </article>
    <article class="hero--dark">
        <div>
            <h1>
                Kontakt
            </h1>                   
        </div>
        <div class="selfie">
            {% image "images/mare.jpeg", "mare", "(max-width: 760px) 50vw, 100vw", "selfie__image mb-m" %}
        </div>
        <div>
            <h2 class="no-margin">
                Marija Miletić
            </h2>
            <p>
                Split, Hrvatska
            </p>
        </div> 
        <ul class="details mt-m">
            <li>PIŠI MI NA <span class="bold"><a rel="noopener" class="link--clear" href="mailto:marijamiletic0@gmail.com" target="_blank">marijamiletic0@gmail.com</a></span></li>
            <li>PRONAĐI ME NA <span class="bold"><a class="link--clear" target="_blank" rel="noopener" href="https://www.linkedin.com/in/marija-miletić">linkedin.com/in/marija-miletić</a></span></li>
        </ul>       
    </article>
</div>
